@media (min-width: 320px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
        width: 100%;
        padding: 0;
    }

    .header-buttons a img {
        display: none;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
        width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
        width: 100%;
    }

    .menu-toggle {
        display: none;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
        width: 100%;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1136px;
        width: 100%;
    }

    .create-box {
        padding-left: 70px;
    }
}

@media (max-width: 1200px) {
    .why-wrapper {
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 10px;
    }

    .news-wrapper {
        flex-wrap: wrap;
        column-gap: 120px;
        justify-content: center;
        row-gap: 30px;
    }
}

@media (max-width:991px) {
    .header-list {
        display: flex;
        flex-direction: column;
        background-color: var(--primary-color);
        position: fixed;
        top: 0;
        right: -100%;
        row-gap: 10px;
        padding: 20px 20px;
        height: 100vh;
    }

    .news-wrapper {
        flex-wrap: nowrap;
        column-gap: 30px;
        overflow-x: scroll;
        justify-content: start;
    }

    .menu-toggle:focus+.header-list {
        right: 0 !important;
    }

    .header-link:hover {
        color: white;
    }

    .dropdown-list {
        display: none;
    }

    .header-wrap {
        flex-direction: row-reverse;
    }

    .prices {
        margin-top: 50px;
    }

    .prices-wrapper {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }

    .prices-left {
        align-items: center;
    }

    .prices-title {
        text-align: center;
    }

    .prices-right img {
        transform: translateX(0) translateY(5px);
    }

    .prices-left {
        padding-top: 0 !important;
    }

    .trade-right,
    .wallet-left {
        width: 100%;
    }

    .trade-right img,
    .wallet-left img {
        width: 100%;
    }

    .trade-wrapper {
        flex-direction: column-reverse;
        row-gap: 30px;
    }

    .wallet-wrapper {
        row-gap: 30px;
        flex-direction: column;
    }
}

@media (max-width: 767px) {

    .movers-cryp-top,
    .movers-cryp-box {
        grid-template-columns: repeat(4, 1fr) !important;
        row-gap: 10px;
    }

    .movers-cryp-boxxer:nth-last-child(1) {
        justify-content: flex-start;
    }

    .why-wrapper {
        margin-top: 50px;
    }

    .why-subtitle {
        margin: 20px 0 !important;
    }

    .exchange-wrap {
        flex-wrap: wrap;
        row-gap: 15px;
        justify-content: center;
    }

    .exchange-text {
        text-align: center;
    }

    .step-wrap {
        flex-wrap: wrap;
        row-gap: 20px;
    }
}

@media (max-width: 575px) {
    .header-buttons-span {
        display: none;
    }

    .news-img img {
        width: 100%;
    }

    .prices-title {
        font-size: 50px;
        line-height: 50px;
    }

    .why-title {
        font-size: 40px !important;
        line-height: 40px !important;
    }

    .header-buttons img {
        width: 16px;
        height: 16px;
    }

    .header-buttons a {
        padding: 5px 7px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo img {
        width: 130px;
    }

    .movers-cryp-top,
    .movers-cryp-box {
        grid-template-columns: repeat(3, 1fr) !important;
        row-gap: 10px;
    }

    .trade-wrap,
    .wallet-wrap {
        gap: 20px;
    }

    .news-wrapper {
        overflow: initial;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 450px) {

    .trade-title,
    .wallet-title,
    .font-size,
    .program-title,
    .create-title {
        font-size: 33px;
    }

    .movers-cryp-top,
    .movers-cryp-box {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .trade-wrap,
    .wallet-wrap {
        grid-template-columns: repeat(1, 1fr);
    }

    .why-title {
        font-size: 28px !important;
        line-height: 28px !important;
    }
}