/* SITE FONT */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


/* SITE ROOTS */
:root {
    --site-font: 'Lexend', sans-serif;
    --primary-color: #4CFDC7;
    --title-color: #000000;
    --subtitle-color: #18181B;
    --text-color: #27272A;
    --footer-link-color: #3F3F46;
    --btn-border-r: 4px;
}

/* GENERAL STYLES */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--site-font);
}

a {
    text-decoration: none;
}

ul,
li,
ol {
    list-style: none;
}

input {
    outline: none;
}

.container {
    margin: 0 auto;
    max-width: 1136px;
    width: 100%;
}

.btn-primary {
    background-color: var(--primary-color);
    border-radius: var(--btn-border-r);
    color: #01271C;
}

.btn-secondary {
    background-color: transparent;
    border-radius: var(--btn-border-r);
    color: var(--subtitle-color);
    border: 1px solid var(--subtitle-color);
}


/* HEADER */
.header-nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
}

.header-list {
    display: flex;
    column-gap: 32px;
}

.header-wrap {
    display: flex;
    column-gap: 23px;
    align-items: center;
}

.header-buttons {
    display: flex;
    column-gap: 7px;
}

.header-link img {
    margin-left: 7px;
    transition: .5s;
}

.header-link {
    transition: .5s;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    position: relative;
    /* overflow: hidden; */
    color: var(--subtitle-color);
}

.header-buttons a {
    padding: 9px 17px;
    font-size: 12px;
    font-weight: 400;
}

.header-link:hover {
    color: var(--primary-color);
}

.header-link:hover img {
    transform: rotate(180deg);
}

.header-link:hover+.dropdown-list {
    top: 50px;
}

.dropdown-list {
    position: absolute;
    padding: 10px 10px;
    display: flex;
    top: -100%;
    flex-direction: column;
    align-items: start;
    background-color: azure;
}


/* PRICES SECTION */
.prices {
    margin-top: 115px;
}

.prices-wrapper {
    display: flex;
    column-gap: 132px;
}

.prices-left {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.prices-title {
    font-size: 71px;
    font-weight: 400;
    line-height: 90px;
    letter-spacing: 1px;
    color: var(--title-color);
    margin-bottom: 34px;
}

.prices-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.10000000149011612px;
    color: var(--text-color);
    max-width: 461px;
    width: 100%;
    margin-bottom: 30px;
}

.prices-buttons {
    display: flex;
    column-gap: 16px;
    margin-bottom: 16px;
}

.prices-buttons a {
    padding: 9px 33px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    color: var(--subtitle-color);
}

.prices-rate {
    display: flex;
    align-items: center;
}

.rate-stars {
    margin: 0 12px 0 8px;
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.prices-rate-logo {
    display: flex;
    align-items: center;
}

.prices-right img{
    transform: translateX(-70px) translateY(5px);
}

.rate-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.20000000298023224px;
    color: var(--text-color);
}


/* MOVERS SECTION */
.movers-wrapper {
    padding: 23px 0;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 0px 16px 0px #09181A0A;
    margin-bottom: 60px;
    border-radius: 8px;
}

.movers-top-wrap {
    display: flex;
    justify-content: center;
    column-gap: 32px;
    margin-bottom: 26px;
}

.movers-pupular,
.movers-mover {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.10000000149011612px;
    color: var(--subtitle-color);
}

.movers-mover {
    color: #71717A;
}

.movers-cryp-top,
.movers-cryp-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 15px 32px;
    border-top: 1px solid #F4F4F5;
}

.movers-cryp-title {
    font-size: 14px;
    font-weight: 400;
    line-height: 17.5px;
    color: var(--subtitle-color);
}

.movers-cryp-boxxer {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.movers-cryp-subtitle {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: var(--subtitle-color);
}

.movers-cryp-subtext {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1px;
    color: #A1A1AA;
}

.text-green {
    color: #10B981;
}

.text-red {
    color: #F43F5E;
}

.arrow-pass {
    transform: rotate(90deg);
}

.movers-cryp-boxxer .btn-primary {
    padding: 9px 17px;
    border: 0;
}

.movers-cryp-boxxer:nth-last-child(1) {
    justify-content: flex-end;
}

.movers-bottom-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 9px;
    padding-top: 20px;
    border-top: 1px solid #F4F4F5;
}

.movers-bottom-link {
    display: flex;
    align-items: center;
    column-gap: 9px;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: var(--subtitle-color);
}

.movers-bottom-link img{
    transition: .5s;
}

.movers-bottom-link:hover img{
    transform: translateX(10px);
}

.movers-bottom-icons {
    position: relative;
    width: calc(24px * 4);
}

.movers-bottom-icons img {
    width: 24px;
    height: 24px;
    position: absolute;
    top: -12px;
}

.crypto-icon-1 {
    z-index: 1;
}

.crypto-icon-2 {
    right: 55px;
    z-index: 2;
}

.crypto-icon-3 {
    z-index: 3;
    right: 37px;
}

.crypto-icon-4 {
    z-index: 4;
    right: 17px;
}